body {
    background-color: #205D67;
    position: relative;
}

header {
    background-color: #D8EBB5;
    color: #205D67;
    font-family:"Audiowide", serif;
}

footer {
    bottom: 0;
    position: relative;
    background-color: #DEBF38;
}

a {
    color: #44A84B;
}

.nav-link {
    color:#205D67

}

.titreAccueil {
    color: #205D67;
}

.paraAcceuil {
    color: #205D67;
}

h2 {
    font-family:"Audiowide", serif;
    color: #DEBF38;
}

p, h4 {
    font-family: "Roboto", serif;
}

h3 {
    color: #D8EBB5;
}

.formAcceuil input {
    border-color: #44A84B;
    background-color: #D8EBB5;
    border-style: solid;
    border-radius: 10px;
}

.formCovoiturage input {
    border-color: #44A84B;
    background-color: #D8EBB5;
    border-style: solid;
    border-radius: 10px;
}

label {
    color: #44A84B;
}

input {
    color:#205D67;
}

.mobile {
    font-family: "Roboto", serif;
}

.legendRecherche {
    font-family: "Roboto", serif;
    color: #44A84B;
}

.resultatRecherche {
    font-family: "Roboto", serif;
    color: #D8EBB5;
}

.card {
    background-color: #205D67;
    font-family: "Roboto", serif;
    color: #D8EBB5;
    border-style: solid;
    border-radius: 10px;
}

#fleche {
    display: flex;
    height: 50px;
}

.formCovoiturage {
    background-color: #D8EBB5;
    border-radius: 10px;
    padding: 10px 20px;
}

i {
    color: #D8EBB5;
}

#star {
    color: #DEBF38;
}

li {
    list-style: none;
}

button {
    border-radius: 10px;
    border-style: solid;
    border-color: #44A84B;
    background-color: #DEBF38;
    font-family: "Roboto", bold, serif;
    color: #205D67;
    padding: 5px 25px;
    text-align: center;
}

.detailTrajet {
    border-style: solid;
    border-color: #DEBF38;
    border-radius: 10px;
    padding: 10px 20px;
    color: #D8EBB5;
}


.bi-star-fill {
    color: #DEBF38;
}

.resultats {
    border-style: solid;
    border-color: #DEBF38;
    border-radius: 10px;
    padding: 10px 20px;
}

.adresseTrajet {
    margin-right: 20px;
}
 iframe {
    border-radius: 10px;
 }

@media only screen and (max-width: 768px){
    .cards {
        display: none;
        visibility: hidden;
    }

    
}

@media only screen and (min-width: 768px){
    .mobile {
        display: none;
        visibility: hidden;
    }
}